In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# path shortcut
path = r'/Users/nicolechiu/OneDrive - InterVarsity Christian Fellowship USA/Documents/CF Data Analytics/Achievement 4/05-2023 Instacart Basket Analysis'

In [3]:
# orders_products_combined dataframe creation
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'), index_col = False)

TypeError: read_pickle() got an unexpected keyword argument 'index_col'

In [4]:
# orders_products_combined dataframe creation - Attempt #2 without index_col
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Check shape of dataframe
df_orders_products_combined.shape

(32434489, 10)

In [6]:
# products dataframe creation
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Check shape of df_prods dataframe
df_prods.shape

(49672, 6)

In [8]:
# Checking output of df_orders_products_combined
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196,1,0,both
1,2539329,1,1,2,8,11.0,14084,2,0,both
2,2539329,1,1,2,8,11.0,12427,3,0,both
3,2539329,1,1,2,8,11.0,26088,4,0,both
4,2539329,1,1,2,8,11.0,26405,5,0,both

In [9]:
# Checking output of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Removing "Unnamed" column from df_prods dataframe
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
# Checking output of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Checking shape of df_prods
df_prods.shape

(49672, 5)

In [13]:
# Merge df_orders_products_combined and df_prods, merge on product_id column
df_ords_prods_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [14]:
# Removing "_merge" column from df_orders_products_combined dataframe
df_ords_prods_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [15]:
# Checking output of df_ords_prods_combined dataframe
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,11.0,196,1,0
1,2539329,1,1,2,8,11.0,14084,2,0
2,2539329,1,1,2,8,11.0,12427,3,0
3,2539329,1,1,2,8,11.0,26088,4,0
4,2539329,1,1,2,8,11.0,26405,5,0

In [16]:
# Merge df_ords_prods_combined and df_prods, merge on product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
# Check output of merged df
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,11.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [18]:
# Checking shape of merged df
df_ords_prods_merged.shape

(32404859, 14)

In [19]:
# Frequency check
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
# Outer merge to test frequency
df_ords_prods_out_merge = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'outer')

In [21]:
# Check frequency of a merge using the how = outer 
df_ords_prods_out_merge['_merge'].value_counts()

KeyError: '_merge'

In [22]:
# Check output of outer merge 
df_ords_prods_out_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329.0,1.0,1.0,2.0,8.0,11.0,196,1.0,0.0,Soda,77.0,7.0,9.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0

In [23]:
# Overwriting to include _merge column
# Outer merge to test frequency
df_ords_prods_out_merge = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [24]:
# Check frequency of a merge using the how = outer 
df_ords_prods_out_merge['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

In [25]:
# Export inner merge df to orders_products_merged pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))